.tournament-title {
  margin-top: 0px;
  margin-bottom: 20px;
}

.no-tournaments {
  text-align: center;
}

.breadcrumb {
  padding-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.challenge-text {
  margin-top: 5px;
  margin-bottom: 5px;
}
